In [106]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

Init Spark Session

In [77]:
spark = SparkSession.builder\
    .master("local[*]")\
    .appName('test')\
    .getOrCreate()

In [78]:
!mkdir data
!wget -P data/ https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

mkdir: data: File exists
--2023-03-07 16:10:21--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Translacja github.com (github.com)... 140.82.121.4
Łączenie się z github.com (github.com)|140.82.121.4|:443... połączono.
Żądanie HTTP wysłano, oczekiwanie na odpowiedź... 302 Found
Lokalizacja: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230307T151021Z&X-Amz-Expires=300&X-Amz-Signature=966a3c9844036f5c6c38598ea7851c1cf6393316f3a94ee04048bb5dbde1784f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [podążanie]
--2023-03-07 16:10:21--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230307T151021Z&X-Amz-Expires=300&X-Amz-Signature=966a3c9844036f5c6c38598ea7851c1cf6393316f3a94ee04048bb5dbde1784f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Translacja objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Łączenie się z objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... połączono.
Żądanie HTTP wysłano, oczekiwanie na odpowiedź... 200 OK
Długość: 129967421 (124M) [application/octet-stream]
Zapis do: `data/fhvhv_tripdata_2021-01.csv.gz'

fhvhv_tripdata_2021 100%[===================>] 123,95M  1,55MB/s     w 77s

2023-03-07 16:11:39 (1,60 MB/s) - zapisano `data/fhvhv_tripdata_2021-01.csv.gz' [129967421/129967421]

Check number of rows

In [79]:
!wc -l data/fhvhv_tripdata_2021-01.csv.gz

  508066 data/fhvhv_tripdata_2021-01.csv.gz

In [124]:
df = spark.read\
    .option("header", "true")\
    .option('inferSchema', "true")\
    .csv('data/fhvhv_tripdata_2021-01.csv.gz', encoding='utf-8')

In [125]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None)]

All fields are in StringType

In [126]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('SR_Flag', IntegerType(), True)])

In [49]:
#!head -n 1001 data/fhvhv_tripdata_2021-01.csv.gz > data/head.csv.gz

Create pandas DataFrame

In [83]:
df_pandas = pd.read_csv('data/fhvhv_tripdata_2021-01.csv.gz', nrows=1001)
df_pandas

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,NaN
1,HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,NaN
2,HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,NaN
3,HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,NaN
4,HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,NaN
...,...,...,...,...,...,...,...
996,HV0005,B02510,2021-01-01 00:53:10,2021-01-01 01:21:09,114,21,NaN
997,HV0003,B02512,2021-01-01 00:18:35,2021-01-01 00:26:53,167,42,NaN
998,HV0003,B02512,2021-01-01 00:35:39,2021-01-01 00:42:59,116,116,NaN
999,HV0003,B02512,2021-01-01 00:44:54,2021-01-01 01:15:59,116,132,NaN
1000,HV0005,B02510,2021-01-01 00:30:39,2021-01-01 00:50:04,116,60,NaN

In [84]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

Convert pandas DataFrame into Spark DataFrame

In [85]:
spark.createDataFrame(df_pandas).schema

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

Modify schema

In [97]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True), 
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True)
])

Read .csv file with schema

In [98]:
df = spark.read\
    .option("header", "true")\
    .schema(schema)\
    .csv('data/fhvhv_tripdata_2021-01.csv.gz', encoding='utf-8')

In [99]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None)]

Create 24 partitions of DataFrame

In [100]:
df = df.repartition(24)

In [101]:
parquet_data_location = 'data/fhvhv/2021/01/'
df.write.parquet(parquet_data_location, mode='overwrite')

23/03/07 17:16:28 WARN MemoryManager: Total allocation exceeds 95,00% (1 020 054 720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

23/03/07 17:16:32 WARN MemoryManager: Total allocation exceeds 95,00% (1 020 054 720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

23/03/07 17:16:36 WARN MemoryManager: Total allocation exceeds 95,00% (1 020 054 720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

Read .parquet file to spark DataFrame

In [102]:
df = spark.read.parquet(parquet_data_location)
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [113]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID')\
    .filter(df.hvfhs_license_num == 'HV0003')\
    .show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-21 18:19:13|2021-01-21 19:14:27|         256|         265|
|2021-01-26 11:15:51|2021-01-26 11:23:14|         165|         165|
|2021-01-19 19:11:47|2021-01-19 19:29:45|          82|         137|
|2021-01-27 11:49:13|2021-01-27 11:53:15|          97|          97|
|2021-01-17 18:35:49|2021-01-17 18:55:43|          74|         116|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

PySpark functions

In [117]:
#Add new 2 columns with 'date' for dropoff and pickup
df\
    .withColumn('pickup_date', F.to_date(df.pickup_datetime))\
    .withColumn('dropoff_date', F.to_date(df.pickup_datetime))\
    .select('pickup_date','dropoff_date','PULocationID','DOLocationID')\
    .show(10)

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-21|  2021-01-21|         256|         265|
| 2021-01-26|  2021-01-26|         165|         165|
| 2021-01-19|  2021-01-19|          82|         137|
| 2021-01-27|  2021-01-27|          97|          97|
| 2021-01-27|  2021-01-27|         134|          95|
| 2021-01-17|  2021-01-17|          74|         116|
| 2021-01-28|  2021-01-28|          78|          75|
| 2021-01-04|  2021-01-04|         236|         126|
| 2021-01-21|  2021-01-21|          79|         137|
| 2021-01-29|  2021-01-29|         198|         157|
+-----------+------------+------------+------------+
only showing top 10 rows

Creating own functions in PySpark

In [119]:
def crazy_things(base_num: str):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'v/{num:03x}'
    else:
        return f'a/{num:03x}'

In [120]:
crazy_stuff_func = F.udf(crazy_things,returnType=types.StringType())

In [123]:
df\
    .withColumn('pickup_date', F.to_date(df.pickup_datetime))\
    .withColumn('dropoff_date', F.to_date(df.pickup_datetime))\
    .withColumn('base_id', crazy_stuff_func(df.dispatching_base_num))\
    .select('pickup_date','dropoff_date','PULocationID','DOLocationID','base_id')\
    .show(10)

+-----------+------------+------------+------------+-------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|base_id|
+-----------+------------+------------+------------+-------+
| 2021-01-21|  2021-01-21|         256|         265|  a/a39|
| 2021-01-26|  2021-01-26|         165|         165|  v/b37|
| 2021-01-19|  2021-01-19|          82|         137|  a/acc|
| 2021-01-27|  2021-01-27|          97|          97|  a/b38|
| 2021-01-27|  2021-01-27|         134|          95|  a/9ce|
| 2021-01-17|  2021-01-17|          74|         116|  s/acd|
| 2021-01-28|  2021-01-28|          78|          75|  a/b38|
| 2021-01-04|  2021-01-04|         236|         126|  v/a7a|
| 2021-01-21|  2021-01-21|          79|         137|  a/9ce|
| 2021-01-29|  2021-01-29|         198|         157|  a/b3c|
+-----------+------------+------------+------------+-------+
only showing top 10 rows